*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  font-family: $font-family;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $font-line-height;
  color: $text-color;
}
