.yo-button {
  --main--color: #019A5B;
  --main--box-shadow: #25ac7491;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  min-width: 150px;
  padding: 9px 0;
  background: var(--main--color);
  z-index: 1;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  &:focus {
    box-shadow: 0 0 0 0.25rem var(--main--box-shadow);
  }
}