.el-date-editor {
  --el-border-color-hover: var(--el-color-primary);
  border-radius: 4px;
  transition: all .3s;
  &.el-input {
    width: 140px;
    height: 36px;
  }

  &.el-input.is-disabled .el-input__wrapper {
    box-shadow: 0 0 0 1px var(--el-input-border-color, var(--el-border-color)) inset;
  }

  &[aria-expanded=true] {
    box-shadow: 0 0 0 0.25rem var(--el-color-primary-light-7);
  }

  &.icon-position-end .el-input__prefix {
    order: 99;
    .el-icon.el-input__icon {
      margin-right: 0;
      margin-left: 8px;
    }
  }
}
