input {
  min-width: 500px;
  padding: 6px 12px;
  border: 1px solid #aaa;
  border-radius: 5px;
  outline: 0;
  font-size: 20px;
  line-height: 28px;
  color: #222;
  transition: all 0.3s;
}
input[disabled] {
  background: #eee;
  cursor: not-allowed;
}
input:not([disabled]):hover, input:not([disabled]):focus {
  border-color: #019a5b;
}
input:focus {
  box-shadow: 0 0 0 0.25rem #0ead694d;
}
input.error, input.error:hover, input.error:focus {
  border-color: #dc3545;
}
input.error:focus {
  box-shadow: 0 0 0 0.25rem #dc354530;
}