:root {
  /* --main--color: #019a5b;
  --main--box-shadow: #0ead694d; */
  --main--color: #3ff7fe;
  --main--box-shadow: #47c2f283;
}

input {
  min-width: 300px;
  padding: 6px 12px;
  border: 1px solid #868585;
  border-radius: 3px;
  outline: 0;
  font-size: 16px;
  line-height: 28px;
  color: #222;
  transition: all 0.3s;
}
input[disabled] {
  background: #eee;
  cursor: not-allowed;
}
input:not([disabled]):hover, input:not([disabled]):focus {
  border-color: var(--main--color);
}
input:focus {
  box-shadow: 0 0 0 0.25rem var(--main--box-shadow);
}
input.error, input.error:hover, input.error:focus {
  border-color: #dc3545;
}
input.error:focus {
  box-shadow: 0 0 0 0.25rem #dc354530;
}